class ENV:
    db_params = {
        "host": "YOUR HOST NAME",
        "database": "DATABASE NAME",
        "user": "USERNAME",
        "password": "USERNAME PASSWORD",
        "port": "PORT NUMBER"
    }

    bot_token = "YOUR BOT TOKEN"

    chat_id = CHAT ID NUMBER

    admin_id = ADMIN ID NUMBER